.review_wrapper_main{
    background-color: #f1f5f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.review_wrapper {
    max-width: 600px;
    margin: 40px auto;
}

.review_wrapper h2 {
    position: relative;
    width: 200px;
    margin: 0 auto 20px;
}

.review_wrapper h2::after {
    position: absolute;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    background-color: #49a6e9;
    width: 80%;
    height: 5px;
    top: 50px;
    margin: auto;
}

.review {
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 20px;
}

.img-container {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
}
.img-container img {
    width: 100%;
}
.person-img {
    object-fit: cover;
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    border-radius: 50%;
}
.img-container:before, .quote-icon {
    position: absolute;
    border-radius: 50%;
    background: #49a6e9;
    background: #49a6e9;
}
.quote-icon {
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    transform: translateY(25%);
    color: #fff;
    color: #fff
}
.img-container, .person-img {
    position: relative;
    border-radius: 50%;
}

.img-container:before {
    content: "";
    width: 100%;
    height: 100%;
    top: -0.25rem;
    right: -0.5rem;
}
.img-container:before, .quote-icon {
    position: absolute;
    border-radius: 50%;
    background: #49a6e9;
    background: #49a6e9
}
.review h4{
    text-transform: capitalize;
}
.job{
    color: #49a6e9;
}
.info {
    font-size: 14px;
    color: #617d98;
    line-height: 25px;
    font-weight: 400;
}
.button-container button {
    background: none;
    border: 0;
    color: #8bcbf9;
}
.random-btn {
    color: #49a6e9;
    background-color: #ebf7ff;
    border: 0;
    padding: 7px 15px;
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}