.main_wrapper {
    background-color: #f1f5f8;
    height: 100vh
}

.main-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form_area {
    background-color: #fff;
    padding: 10px 30px;
    width: 400px;
    margin: 0 auto;
}

.form_area label {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.form_area input {
    display: block;
    width: 100%;
    background-color: #f1f5f8;
    border: 0;
    height: 25px;
    border-radius: 4px;
    padding:0 5px;
}

.form_area input:focus-visible {
    outline: none
}
.card_wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
}

.card {
    box-shadow: 2px 5px 3px 0px rgba(0,0,0,0.5);
    background-color: #fff;
    width: 30%;
    margin-right: 10px;
}
.card img{
    width: 100%;
    height: 100%;
}
.card_cnt {
    padding: 10px;
}
.card_cnt h2{
    font-size: 22px;
    color: #262626;
    margin: 0;
}
.card_cnt p {
    font-size: 16px;
    color: #262626;
    margin: 0;
}
.card_cnt button {
    background-color: green;
    border: 0;
    padding:6px 10px;
    color: #fff;
    border-radius: 5px;
}